node_modules/*
CMakeFiles/*
.vscode/*
*.pyc
CMakeCache.txt
Makefile
.eslintrc
.gitignore
.gitmodules
clangCreateBindings/*
cmake/*
experimental_connectivity_firmware/*
clang-parameter-structs/*
pc-ble-driver/*
src/*
parse-struct/*
build.py
cmake_install.cmake
CMakeLists.txt
